<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <button {{action 'discard'}} class="btn btn-default" data-test-section-discard="service">
                {{t "global.discard"}}
            </button>

            <button {{action 'save'}} class="btn btn-primary" data-test-section-save="service">
                {{t "submit.body.continue"}}
            </button>
        </div>
    </div>
</div>
